<style scoped>
@media (max-width: 660px) {
    .common_img {
        height: 88vw;
    }
}
@media (min-width: 661px) and (max-width: 767px) {
    .common_img {
        height: 577px;
    }
}
</style>
<sly data-sly-test="${properties['isbanner']}">
    <div class="${properties['imgclass']}" style="background-image: url('${properties['imgpath'] @ context = 'uri'}');" >
        ${properties['description2'] @ context='unsafe'}
        ${properties['description1'] @ context='unsafe'}
    </div>
</sly>
<sly data-sly-test="${!properties['isbanner']}">
    <div class="pt2">
        <div class="${properties['imgclass']}" style="background-image: url('${properties['imgpath'] @ context = 'uri'}');">
            ${properties['description2'] @ context='unsafe'}
            ${properties['description1'] @ context='unsafe'}
        </div>
    </div>
</sly>