body {
  background-color: black;

}

.screen {
  position: relative;
  width: 1920px;
  height: 720px;
  /* background-image: url('../images/WechatIMG9.jpeg'); */
  background-repeat: no-repeat;
  overflow: hidden;
}

.carousel,.carousel-warpper{
  width: 100%;
  height: 66%;
  top: 42%;
  left:  0;
  transform: translate(0, -50%);
}

.carousel {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s;
  padding-top: 67px;
}

.carousel::before {   /* Added */
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
}

.snap {
  transition: left 0.2s;
  transition-timing-function: ease-in-out;
}

.carousel-warpper{
  position: absolute;
  display: none;
  background-color: #151B17;
  height: 76%;
}
.carousel-warpper.show{
  display: block;
}


.card {
    position: absolute;
    width: 23.9%;
    left: 143px;
    margin-left: 0.5%;
    height: 270px;
    bottom: 94px;
    border-radius: 10px;
    opacity: 1;
}

.snap {
  transition: transform 0.6s easeOutBack
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.card-content{
	height: 100%;
    width: 100%;
    position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.card-content .card-content-title{
	position: absolute;
    top: -44px;
}
.card-content .card-content-title span{
	font-weight: bold;
    font-size: 28px;
    color: #E8E6E7;
    margin: 0;
}

.card-content-image,
.card-content-video{
	width: 100%;
	height: 100%;
  border-radius: 20px;
  box-shadow: 0px 7px 15px rgba(61,61,61, .9);
  outline: none;
}
.card-content-image img,
.card-content-video img{
	height: 100%;
	width: 100%;
  border-radius: 20px;
  outline: none;
}

.card-content-video > div{
  border-radius: 20px;
  outline: none;
}

.card-content-video .video-play-button{
  display: block;
  position: absolute;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  background: 0 0;
  text-transform: none;
  text-decoration: none;
  transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0,0,0,.45);
  color: #fff;
  -webkit-transition: border-color .4s,outline .4s,background-color .4s;
  -moz-transition: border-color .4s,outline .4s,background-color .4s;
  -ms-transition: border-color .4s,outline .4s,background-color .4s;
  -o-transition: border-color .4s,outline .4s,background-color .4s;
  transition: border-color .4s,outline .4s,background-color .4s;
  color: #fff;
  outline: none;
}

.card-content-video:hover .video-play-button{
  background-color: #3d4d54;
}

.card-content-message{
  position: absolute;
  color: #fff;
  bottom: 4px;
  margin-left: 10px;
}

.card-content-message .card-content-message-title{
  font-size: 18px;
}

.card-content-message .card-content-message-times{
  font-size: 14px;
}

.play-button-img{
  background-image: url('./play.png');
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 36%;
}

.carousel-warpper a.close{
  position: absolute;
  margin-left: 20px;
}

.carousel-warpper-item{
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 85%;
}
