

body {
	background-color: #fff
}

.badge-category {
	width: 100%!important;
	margin-bottom: 30px!important
}

.countdown-section {
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 0, rgba(84, 5, 5, 1) 0, rgba(0, 0, 0, 1) 100%);
	text-align: center;
	padding: 20px 0
}

body {
	color: #000;
	letter-spacing: .015em
}

a:hover {
	color: #c01818;
	text-decoration: none
}

hr {
	margin-top: .5rem;
	margin-bottom: .5rem
}

h1 {
	font-size: 2.625rem
}

.fs-56 {
	font-size: 3.5rem!important
}

.fs-48 {
	font-size: 3rem!important
}

.fs-42 {
	font-size: 2.625rem!important
}

.fs-40 {
	font-size: 2.5rem!important
}

.fs-38 {
	font-size: 2.375rem!important
}

.fs-36 {
	font-size: 2.25rem!important
}

.fs-28 {
	font-size: 1.75rem!important
}

.fs-24 {
	font-size: 1.5rem!important
}

.fs-20 {
	font-size: 1.25rem!important
}

.fs-18 {
	font-size: 1.125rem!important
}

.fs-14 {
	font-size: .875rem!important
}

.fs-13 {
	font-size: .8125rem
}

.article .card a:hover,
.cmp-a.text-btn:hover,
.cmp-btn--primary .cmp-a.text-btn:hover,
.cmp-btn--secondary a:not([href]),
.cmp-btn--secondary-trans a:not([href]),
.font-color-mcafee-red {
	color: #c01818
}

.cmp-btn--secondary a:not([href]):hover,
.cmp-btn--secondary-trans a:not([href]):hover {
	color: #c01818;
	border-color: #c01818
}

.article .card {
	background: #292929
}

.article .card a {
	color: #fff
}

.article .card .cmp-card__img {
	padding: 0
}

.cmp-btn--primary .cmp-a {
	background-color: #c01818;
	border-color: #c01818
}

.cmp-btn--sm .cmp-a {
	padding: .5rem 1.56rem;
	font-size: inherit
}

.cmp-btn--secondary .cmp-a,
.cmp-btn--secondary-trans .cmp-a {
	color: #c01818;
	border-color: #c01818
}

.cmp-btn--primary .cmp-a.text-btn {
	background-color: transparent;
	border-color: transparent;
	color: inherit
}

.cmp-a.white {
	border: 1px solid #fff;
	color: #fff
}

.cmp-btn--primary .cmp-a.text-btn:after {
	content: "\f054";
	font-family: "Font Awesome";
	font-style: normal;
	padding-left: .75rem;
	font-size: 14px;
	color: #c01818;
	font-weight: 100
}

.fa-user:before {
	content: "\f007";
	font-family: "Font Awesome"
}

.fa-city:before {
	content: "\f64f";
	font-family: "Font Awesome"
}

.fa-building:before {
	content: "\f1ad";
	font-family: "Font Awesome"
}

@media (max-width:1199.98px) and (min-width:991.98px) {
	.cmp-a {
		min-width: 10rem
	}
}

@media (min-width:1199.98px) {
	.cmp-flexcard__img.w-5050 {
		width: 50%
	}
	.cmp-flexcard__img.w-5050 img {
		width: 105%
	}
	.cmp-flexcard__body.w-5050 {
		width: 50%
	}
}

@media (min-width:576px) {
	.card-deck .card,
	.main__section--card-deck>.card__container--type .card,
	.main__section--card-deck>.main__section--wrapper>.main__section--wrapper-container>.card__container--type .card {
		flex: 1
	}
}

@media (max-width:991.98px) {
	.order1 {
		order: 1
	}
	.order2 {
		order: 2
	}
	.order3 {
		order: 3
	}
	.m-hide {
		display: none
	}
	.m-mb-0 hr {
		margin-bottom: 0
	}
}

@media (max-width:575.98px) {
	.cmp-flexcard__img img {
		max-width: 100%;
		height: auto
	}
	.cmp-a {
		display: block;
		width: 100%
	}
	.s-hide {
		display: none
	}
	.fs-56 {
		font-size: 2.5rem!important
	}
	.fs-42,
	h1 {
		font-size: 2rem!important
	}
	.fs-36 {
		font-size: 1.75rem!important
	}
	.fs-28 {
		font-size: 1.5rem!important
	}
	.fs-24 {
		font-size: 1.25rem!important
	}
	.fs-20 {
		font-size: 1.125rem!important
	}
	.fs-18 {
		font-size: 1rem!important
	}
}

@media (max-width:1199.98px) {
	.cmp-flexcard--img-right {
		flex-direction: column-reverse!important
	}
}

.cmp-collapse {
	cursor: pointer
}

.cmp-collapse i {
	padding-right: .625rem;
	color: #939599;
	font-size: .875rem;
	font-weight: 500
}

.cmp-collapse a:hover,
.cmp-collapse a:not([href]):hover {
	color: #c01818
}

.cmp-collapse__content {
	padding-left: 1.375rem
}

.cmp-collapse__container {
	padding: .9375rem 1.5rem 0
}

.cmp-footer .cmp-collapse__title__collapseLabel>p,
.cmp-footer .cmp-collapse__title__expandLabel>p {
	display: flex;
	align-items: baseline
}

.cmp-accordion__title>a[aria-expanded=true]:after {
	content: "\f068";
	transform: none
}

.cmp-accordion__title>a:after {
	content: "\f067";
	font-family: 'Font Awesome';
	position: absolute;
	font-size: 1rem;
	left: 0;
	right: auto;
	top: 2.4rem;
	margin-top: -1.95rem;
	color: #939599
}

.cmp-accordion .cmp-accordion__title__link {
	padding-left: 2rem
}

.cmp-accordion__content {
	padding: 0 2rem 0 3.3rem
}

.cmp-accordion button {
	background: 0 0!important;
	border: none;
	padding: 0!important;
	cursor: pointer
}

@keyframes slideIn {
	0% {
		transform: translateY(-3rem);
		opacity: 0
	}
	100% {
		transform: translateY(0)
	}
	0% {
		transform: translateY(-3rem)
	}
}

@keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

body {
	overflow-x: hidden
}

html body {
	width: 100%;
	max-width: 100%
}

.ca {
	text-align: center;
	margin: auto
}

.item {
	transition-property: opacity
}

.item {
	opacity: 0
}

.next.left {
	opacity: 1
}

.next {
	left: 0;
	transform: translate3d(0, 0, 0)
}

body,
html {
	height: 100%
}

.item:nth-child(1) {
	background: #74c390
}

.item:nth-child(2) {
	background: #51bce8
}

.item:nth-child(3) {
	background: #e46653
}

@supports (-webkit-overflow-scrolling:touch) {
	.slick-dots button {
		padding: 0
	}
}

@media only screen and (max-width:991px) {
	html body div.bg-image,
	html img.image {
		visibility: visible;
		position: relative;
		height: 250px
	}
}

@media (max-height:720px) and (min-width:992px) {
	.main__section--wrapper.min-height-14 {
		min-height: 14rem
	}
}

.fa-twitter {
	background: #1da1f2
}

.fa-twitter:before {
	content: "\f099";
	font-family: "Font Awesome"
}

.cmp-footer {
	font-size: 15px
}

.cmp-footer .cmp-collapse__container {
	padding-left: 0
}

.cmp-footer .collapse_content li {
	padding-bottom: 2rem;
	line-height: 1.5;
	margin-left: -1.2rem;
	cursor: default
}

.cmp-footer a span:hover {
	color: #c01818!important;
	text-decoration: none
}

.cmp-footer hr {
	border-top: 1px solid #939599
}

.cmp-footer .cmp-card__body {
	line-height: 2;
	word-wrap: normal
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	.header {
		background-color: #000
	}
}

@supports (-ms-ime-align:auto) {
	.header {
		background-color: #000
	}
}

.wrapper:before {
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	content: "";
	z-index: -1;
	opacity: 0;
	-webkit-transition: opacity 0s ease 0s;
	transition: opacity 0s ease 0s
}

.header .hide {
	display: none!important
}

.nav-open {
	overflow: hidden
}

.nav-open .header {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}

.nav-open .header .container-fluid {
	background: #fff;
	height: calc(100vh)
}

@media screen and (max-width:1024px) {
	.nav-open .wrapper:before {
		z-index: 9;
		opacity: 1;
		-webkit-transition-delay: .5s;
		transition-delay: .5s
	}
	.nav-open #nav {
		opacity: 1;
		padding-bottom: 37px;
		visibility: visible;
		-webkit-transition: opacity .5s ease, visibility 0s linear 0s;
		transition: opacity .5s ease, visibility 0s linear 0s
	}
}

.header .cmp-btn--secondary-trans .cmp-a {
	color: #fff;
	border-color: #fff
}

.header .open>a {
	outline: 0
}

.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.header:after,
.header:before {
	content: " ";
	display: table
}

.header:after {
	clear: both
}

.header a.theme-toggle:before {
	content: "\f078";
	font-family: "Font Awesome";
	position: absolute;
	font-size: 1rem;
	color: #fff;
	-webkit-transition: transform .3s;
	transition: transform .3s;
	line-height: 1
}

@media all and (-ms-high-contrast:none) {
	::-ms-backdrop {
		margin-top: -4px
	}
}

@media screen and (max-width:1024px) {
	.nav-open .wrapper:before {
		background: #333;
		-webkit-transition-delay: 0s;
		transition-delay: 0s
	}
}

@media screen and (max-width:767px) {
	.header .fa-user {
		display: none
	}
}

.v-lazy-image {
	filter: unset;
	transition: unset;
	-ms-transform: translateY(1.875rem);
	-webkit-animation: none;
	-webkit-transform: translateY(1.875rem);
	animation: none;
	opacity: 0;
	transform: translateY(1.875rem)
}

.v-lazy-image-loaded {
	filter: unset;
	-ms-transform: translate(0);
	-o-transition-duration: .4s;
	-o-transition-property: opacity, transform;
	-o-transition-timing-function: ease-in-out;
	-webkit-transform: translate(0);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-timing-function: ease-in-out;
	opacity: 1;
	transform: translate(0);
	transition-duration: .4s;
	transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	transition-timing-function: ease-in-out
}
.main__section--image {
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover
}

.main__section--video {
	background-color: transparent
}

