<style>span.bar {
    font-weight: normal;
}

p,
h2,
body {
    font-family: 'Poppins';
}

.pricewrap h3.fs-30 {
    font-size: 1.3rem !important;
    font-weight: bolder;
}

html body .pricewrap h3.fs-30,
.pricewrap h3.fs-30 * {
    margin-bottom: 0px;
    font-size: 1.5rem !important;
    font-weight: normal !important;
}

.pricewrap .cmp-cardcontent h3.fs-36 {
    font-size: 1.3rem !important;
}

html body .pricewrap p.fs-36.leftwrap {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 12px;
}

.pricewrap h3.fs-30 {
    font-size: 1.5rem !important;
    font-weight: bolder;
}

html .pricewrap div.fs-36.leftwrap span.per {
    display: block;
    color: black;
    position: relative;
    top: 19px;
    font-size: 16px;
}

section.main__section.main__section--fluid.main__section--lg.main__section--content-center.aem-GridColumn.aem-GridColumn--default--12 .pricewrap .experiencefragment.aem-GridColumn.aem-GridColumn--default--12 {
    display: none;
}

div.leftwrap .clearboth {
    height: 10px;
    clear: both;
}

div.fs-36.leftwrap .pleft.sub {
    font-size: smaller;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

div.fs-36.leftwrap span.per {
    display: block;
}

div.leftwrap .pleft.price {
    float: left;
}

div.fs-36.leftwrap {
    max-width: 85%;
    margin: 20px auto 0px auto;
}

html body .slick-list.draggable {
    padding-top: 30px !important;
    padding-left: 30px;
    padding-right: 30px;
}

html body .card-deck.zitouna.pt-4.pb-md-4.pb-sm-2 {
    max-width: 1000px;
    margin: auto;
}

.aem-Grid.aem-Grid--12.aem-Grid--default--12.aem-Grid--phone--12 section.main__section.aem-GridColumn--default--none.aem-GridColumn--phone--none.aem-GridColumn--phone--12.aem-GridColumn.aem-GridColumn--default--8.aem-GridColumn--offset--default--2.aem-GridColumn--offset--phone--0 .xf-content-height {
    display: block;
}

@media(max-width: 767px) {
    html body .pricewrap div.fs-36.leftwrap span.per {
        display: block;
        color: black;
        position: relative;
        top: 15px;
        font-size: 16px;
    }
    html section.main__section.main__section--fluid.main__section--lg.main__section--content-center.aem-GridColumn.aem-GridColumn--default--12 .pricewrap .experiencefragment.aem-GridColumn.aem-GridColumn--default--12 {
        display: block;
    }
    html body .aem-Grid.aem-Grid--12.aem-Grid--default--12.aem-Grid--phone--12 section.main__section.aem-GridColumn--default--none.aem-GridColumn--phone--none.aem-GridColumn--phone--12.aem-GridColumn.aem-GridColumn--default--8.aem-GridColumn--offset--default--2.aem-GridColumn--offset--phone--0 .xf-content-height {
        display: none;
    }
    html body .experiencefragment.aem-GridColumn.aem-GridColumn--default--12 .xf-content-height {
        display: block;
    }
    header .cmp-text.cmp__richtext--color.cmp__richtext--color-default {
        text-align: center;
    }
    header .aem-Grid.aem-Grid--default--4.aem-Grid--phone--12 {
        display: flex;
        justify-content: center;
    }
    header img.v-lazy-image.v-lazy-image-loaded {
        padding-top: 20px;
    }
    .promotional-offer table td:first-of-type span {
        font-size: 36px!important;
    }
    .promotional-offer table.custom-promo-block td:first-of-type span {
        font-size: 14px!important;
    }
    .promotional-offer table.custom-promo-block td:nth-child(2) span {
        font-size: 36px!important;
    }
    .custom-grey-block .aem-Grid.aem-Grid--12.aem-Grid--default--12.aem-Grid--phone--12 {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .custom-grey-block ul li {
        text-align: left;
    }
}

html,
body {
    scroll-behavior: smooth;
}

html body .results-wrapper,
html body section.main__section.main__section--default.aem-GridColumn.aem-GridColumn--default--12.main-safe.newdisp,
html body section.main__section.main__section--default.aem-GridColumn.aem-GridColumn--default--12.full.dispmain .col.section__container__col,
html body .breach-wrapper .main__section--wrapper.main__section--color.main__section--color-white,
html body section.main__section.main__section--default.aem-GridColumn.aem-GridColumn--default--12.full.dispmain {
    background: #F5F6FA;
}

html body a.email-submit {
    cursor: pointer;
}

@media(max-width: 767px) {
    html body .breach-wrapper,
    html body .results-wrapper {
        display: none !important;
    }
}

html body .cmp-flexcard.card.d-flex.cmp-flexcard--img-left.cmp-flexcard--hide-btn.cmp-flexcard--hide-badge.aem-GridColumn.aem-GridColumn--default--12.breaches {
    background: white;
}

html body .price-info.float-left * {
    text-align: left !important;
}

html body .monthly.sub-text {
    padding-top: 0px;
}

html body span.rteFontColor.font-color-deep-gray.strike {
    text-decoration: line-through;
}

html body div.cmp-btn.cmp-btn--primary.cmp-btn--m.text-center {
    text-align: left !important;
}

body {
    padding-top: 0px !important;
}

html body .planPricing a#a-planPricing {
    background: #F5F6FA;
    color: #5A6175 !important;
}

html body .included-features a#a-included-features {
    background: #F5F6FA;
    color: #5A6175 !important;
}

html body .nextSteps a#a-nextSteps {
    background: #F5F6FA;
    color: #5A6175 !important;
}

html body .whymcafee a#a-whymcafee {
    background: #F5F6FA;
    color: #5A6175 !important;
}

html body .faq a#a-faq {
    background: #F5F6FA;
    color: #5A6175 !important;
}

html body .best-mobile {
    display: none;
}

.buttons .button {
    padding: 8px 14px;
    background: #ea1010;
    border: 1px solid #ea1010;
    border-radius: 3px;
    font-size: 18px;
    color: #000;
    text-align: center;
    display: inline-block;
    min-width: 13rem;
    margin-bottom: 10px;
    margin-right: 10px;
}

.buttons .button:hover {
    text-decoration: none;
    background-color: #7c1010;
    border-color: #7c1010;
    color: #000;
}

.buttons .button.outline {
    background: transparent;
    border: 1px solid #000;
}

.buttons .button.outline:hover {
    text-decoration: none;
    color: #ea1010;
    border-color: #ea1010;
}

.buttons .button.outline {
    opacity: .75
}

.buttons .button.outline:hover {
    opacity: 1
}

.buttons .button.outline.op {
    opacity: 1
}

@media screen and (max-width: 598.98px) {
    .buttons.multiple .button {
        margin-bottom: 12px;
        width: 100%;
    }
    .buttons .button {
        padding: 6px 45px;
    }
}

</style><style>.select-styled {
    position: relative;
    float: left;
}

.select-styled label {
    position: relative;
    width: 100%;
}

.select-styled label:after {
    content: '\f078';
    font-family: "Font Awesome";
    color: #000000;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}

.select-styled-mobile:after {
    content: '\f078';
    font-family: "Font Awesome";
    color: #000000;
    right: 20px;
    top: 50%;
    position: absolute;
    font-size: 12px;
    pointer-events: none;
    transform: translateY(-50%);
}

.select-styled-pre label {
    position: relative;
    width: 100%;
}

.select-styled-pre label:after {
    content: '\f078';
    font-family: "Font Awesome";
    color: #000000;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}

.select-styled-pre-mobile:after {
    content: '\f078';
    font-family: "Font Awesome";
    color: #000000;
    right: 30px;
    position: absolute;
    font-size: 12px;
    pointer-events: none;
    top: 930px
}

select::-ms-expand {
    display: none;
}

.select-styled {
    width: 85%;
}

.select-styled select {
    -webkit-appearance: none;
    width: 100%;
    height: 42px;
    padding: 9px 16px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 43px;
}

.select-styled-mobile {
    position: relative;
    width: 85vw;
}

.select-styled-mobile select {
    -webkit-appearance: none;
    width: 85vw;
    height: 42px;
    padding: 9px 16px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 43px;
}

.select-styled-pre {
    width: 85%;
}

.select-styled-pre select {
    -webkit-appearance: none;
    width: 100%;
    height: 42px;
    padding: 9px 16px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 43px;
}

.select-styled-pre-mobile select {
    -webkit-appearance: none;
    width: 375px;
    height: 42px;
    padding: 9px 16px;
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 43px;
}

.select-styled select:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .2);
}

.select-styled option {
    color: #333333;
    background: #fff
}

.cmp-card p:last-child {
    margin-bottom: 1rem;
}

@media(min-width:1200px) {
    .main__section--image {
        background-position: left;
        border-radius: 32px;
    }
}

.subscription-box-red {
    padding: 23px 5px 24px 5px;
}

.button-box-red {
    padding: 16px 8px 16px 8px;
}

.cmp-htmlcontentfragment__default h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
}

.cmp-companylogo--horiz span {
    display: inline;
}

.cmp-modal__body.modal-body {
    margin: 0 !important;
    padding: 1rem !important;
}

.cmp-modal__body #email {
    border: none;
    border-bottom: 1px solid #53565A;
}

.cmp-modal__body .close {
    position: relative;
    top: -15px;
    font-size: 2em !important;
}

.cmp-modal__body #submit {
    font-size: 12px !important
}

.mcafee-bg-red {
    background-color: #EA1010 !important;
}

.cmp-modal__body .form-control {
    border-radius: 0 !important;
}

#fname,
#lname,
#email {
    border: none;
    border-bottom: solid 1px;
}

@media(max-width: 768px) {
    .ribbon-pos-1 {
        display: none;
    }
    .summary-table div.row,
    .summary-table div {
        padding: 0px;
        margin: 0px;
        width: 100%;
        display: block;
        text-align: center !important;
    }
    html .summary-table .last-row {
        border-bottom: none;
    }
    html .mpd-containers.mpd-best-deal .row.no-gutters.pl-1 {
        padding: 0px !important;
        margin: 0px;
        left: 0;
    }
    html .summary-table .row.mx-0.w-100 {
        text-align: center;
    }
    html body .best-desktop {
        display: none;
    }
    html body div .best-mobile {
        display: block;
    }
    html body div .row.mx-0.w-100.best-mobile {
        display: flex;
    }
    html body .wrapper-shade-fix {
        display: block !important;
        text-align: center;
    }
    html body .mpd-containers.mpd-best-deal li {
        list-style-type: none;
    }
    .mpd-containers.mpd-best-deal .col-10.offset-1.col-md-6.text-center.offset-md-1.mt-4 {
        margin-top: 20px !important;
    }
    .cmp-modal__dialog.modal-dialog.none,
    .cmp-modal__dialog.modal-dialog.custom {
        max-width: 100%;
        height: fit-content;
        margin: 30px;
    }
    .cmp-modal__modal.modal {
        background-color: #000;
    }
    #mpd-wrapper .cmp-a {
        max-width: 80%;
        display: inline-block;
    }
}

@media(max-width: 575px) {
    #con1opt1 {
        padding: 0 !important;
    }
    .cmp-modal__dialog.modal-dialog.none {
        margin: 15px;
    }
    .cmp-modal__body .close {
        left: 15px;
    }
}

</style><!-- New Hero Styles --><style>#loginbtn {
    border-radius: 40px !important;
}

#mtp-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px !important;
}

.hero-content {
    color: #4A4F5D
}

.bright-red {
    color: #E01919
}

.pill {
    border-radius: 40px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    max-width: 15rem !important;
}


}
.cmp-a {
    border-radius: 40px !important;
}
.btn-sm,
.btn-group-sm>.btn,
.btn-group-sm>.cmp-a,
.cmp-btn--sm .cmp-a {
    border-radius: 40px !important;
}
.cmp-btn--lg .cmp-a {
    border-radius: 40px !important;
    min-width: 15rem;
    padding: .65rem 1.75rem;
}
.buttons .button.outline {
    background: #fff !important;
    border: 1px solid #ABB2C3 !important;
    color: #6D7895 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    opacity: 1 !important;
    padding: 10px !important;
}
.buttons .button {
    min-width: 9rem !important;
}
#hero-button-area {
    margin-top: 10px;
    margin-bottom: 15px;
}
#recommended-flag {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #E01919;
    width: 78px;
    height: 16px;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    margin-left: 7px;
}
.header .navbarContainer {
    z-index: 999;
}
.payment-icons img {
    max-width: 12rem !important;
    margin-top: 10px;
}
.guarantees {
    max-width: 25rem;
}
@media screen and (max-width: 899px) {
    .buttons {
        text-align: left !important;
    }
    
    #recommended-flag {
        font-size: 12px !important;
        font-weight: 400 !important;
        width: 100px !important;
    }
    
    .buttons .button.outline {
        font-size: 16px !important;
        min-width: 10rem !important;
    }
}
</style><!-- Big Swing Hero and Sticky Nav Styles --><style>html,
body {
    font-family: 'Poppins', sans-serif;
}
.white-right-hero {
    background: url(/content/dam/consumer/en-us/banners/big-swing-family-hero.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 44rem !important;
    padding-right: 0;
}
.white-right-hero {
    transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity: 1;
}
.transitioning-src {
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    opacity: 0.5;
}
.hero-buynow {
    min-width: auto;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;
    border-radius: 40px;
    border-color: #E01919;
}
.hero-buynow:hover {
    background-color: #970b0b !important;
    border-color: #970b0b !important;
}
.hero-pickplan {
    min-width: auto;
    font-family: 'Poppins';
    font-weight: 500;
    color: #5A6175;
    border: 1px solid #A19C9C;
    background-color: #ffffff;
    border-radius: 40px;
}
@media(max-width:769px) {
    .white-right-hero {
        background: none;
        min-height: fit-content !important;
    }
    
    .hero-buynow {
        min-width: auto !important;
    }
    
    .hero-pickplan {
        min-width: auto !important;
    }
    
    .hero-value-props img {
        width: 90vw;
    }
}
.pre-expiry-message {
    background-color: #FDE8E2;
    border-radius: 35px;
    padding: .5rem;
}
.pre-expiry-message1 {
    background-color: #FDE8E2;
    border-radius: 35px;
    padding: .5rem;
    position: relative;
    top: 20px;
    left: 245px;
}
.post-expiry-message {
    background-color: #FFDBDE;
    border-radius: 35px;
    padding: .5rem;
}
.pre-expiry-message-mobile {
    background-color: #FDE8E2;
    border-radius: 35px;
    padding: .5rem;
}
.post-expiry-message-mobile {
    background-color: #FFDBDE;
    border-radius: 35px;
    padding: .5rem;
}
.sticky-nav-container {
    position: sticky;
    top: 0;
    opacity: 1;
    z-index: 999;
}
.nav-top-layer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
    padding: 10px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 4px rgba(0, 0, 0, 0.12);
}
.nav-bottom-layer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6D7895;
}
.nav-bottom-layer a {
    color: #fff !important;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 40px;
}
.nav-bottom-layer a:hover {
    background: #F5F6FA;
    color: #5A6175 !important
}
.nav-value-props {
    max-width: 460px;
    height: auto;
    margin-right: 40px;
}
@media (max-width: 992px) {
    .sticky-nav-container {
        display: none;
    }
}
.pencil-banner {
    background: linear-gradient(90.08deg, #FF3838 37.62%, #C90063 84.8%);
}
.bottom-cta {
    border-radius: 16px;
    border: 1px solid #E8E5E5;
    background: #FAFAFA !important;
}
.counter {
    background: #FFFFFF;
    border: 1px solid #EEC4B8;
    border-radius: 82px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.day-0-no {
    background: #FFFFFF !important;
    border-radius: 16px;
    border: 1px solid #d1cccc;
}
.day-0-yes {
    background: #FFF !important;
    border-radius: 16px;
    border: 1px solid #d1cccc;
    box-sizing: border-box;
    box-shadow: 0px 5.69412px 12.8118px rgba(0, 0, 0, 0.25);
}
.accordion.pdp .card-header [aria-expanded="true"]::after {
    transform: rotate(0deg)!important;
}
.cmp-btn.cmp-btn--primary.cmp-btn--sm.text-left.aem-GridColumn--default--none.aem-GridColumn.aem-GridColumn--default--5.aem-GridColumn--offset--default--0 {
    width: 240px;
}
header img.v-lazy-image.v-lazy-image-loaded {
    width: 154px;
}
.cmp-collapse__title__collapseLabel {
    padding-left: 0 !important;
}
#accordionExample .rounded {
    border-radius: 8px !important;
}
#accordionExample h2.text-center {
    margin-bottom: 0 !important;
}
#accordionExample .cmp-htmlcontentfragment__default h3 {
    font-weight: 400px !important;
    line-height: 36px !important;
    font-size: 18px !important;
}
.lto-card {
    background: #FAFAFA !important;
    border-radius: 16px;
    border: 1px solid #d1cccc;
}
.cmp-btn--primary .cmp-a {
    background-color: #FF1C1C;
    border-color: #FF1C1C;
    color: #ffffff;
    font-size: 18px;
}
.lto-alert {
    margin-top: -15px;
}
</style>