li {
    list-style: none;
}

.tabSelect {
    background: #fff;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    top: 0;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}

.active {
    border-bottom: 2px solid #0276B3;
    color: #0276B3;
    height: 49px;
}

.shopCartInfo img {
    width: 100px;
    display: inline-block;
    height: 100px;
}

.shopCartInfo {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
}

.shopCartInfoLeft {
    padding-left: 5px;
}

.shopCartInfoLeft li:first-child {
    /* height: 25px; */
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-bottom: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* .shopCartInfoLeft li:last-child {
    display: inline-block;
    padding: 0px 16px;
    border: 1px solid #e6e6e6;
    border-radius: 14px;
    float: right;
} */

.collectionList {
    margin-top: 60px;
    padding: 0px 10px;
    background: #fff;
}

.emptyLsit {
    width: 87px;
    height: 87px;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin-left: -43px;
    margin-top: -43px;
    position: absolute;
}