.loginBox {
  padding: 35px;
  background: #ffffff;
}

.loginBoxUl li {
  width: 100%;
  list-style: none;
}

.loginBoxUl li {
  margin-top: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.loginBoxUl li:nth-child(even) {
  margin-top: 15px;
}

.loginBoxUl input {
  border: none;
  width: 61%;
  outline: none;
}

.loginBoxUl img {
  width: 24px;
  display: inline-block;
  height: 12px;
}

.loginBoxUl button {
  border: none;
  color: #656565;
  width: 30%;
  color: #0276B3;
  outline: none;
  float: right;
  font-size: 14px;
  background: #ffffff;
}

.submitButton {
  width: 100%;
  height: 45px;
  line-height: 40px;
  margin-top: 30px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2d96cd;
  color: #ffffff;
}

.remindMsg {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 200px;
}

.routePasswordLogin {
  font-size: 14px;
  color: #2d96cd;
  display: inline-block;
  margin-top: 10px;
}

.loginTitle {
  width: 100%;
  text-align: center;
  color: #2d96cd;
  margin: 20px 0 65px 0;
  font-size: 16px;
}

.loginTitle img {
  height: 30px;
}

.loginBoxUl li:nth-child(2) {
  font-size: 12px;
  color: #bcbcbc;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  color: #d5d5d5;
}

/* .remindMsg::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: #2d96cd;
  border: 2px solid #2d96cd;
  position: absolute;
  top: 2px;
  padding: 1px;
  left: 47px;
} */