.CarouselBanner img {
    height: 220px;
    width: 100%;
}

.productdetails {
    padding: 30px 15px 15px 15px;
}

.productDetailsOne {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
    background: #ffffff;
}

.productDetailsOne p {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 13px;
}

.shopCartImg {
    position: relative
}

.shopCartImg span {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    right: 14px;
    background: red;
    top: -4px;
    border-radius: 20px !important;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.productDetailsOne span {
    font-size: 14px;
    color: #0276B3;
    font-weight: bold;
}

.productDetailsOne img {
    float: right;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.shareImg {
    width: 27px !important;
    height: 27px !important;
    margin-top: -2px;
}

.productDetailsTwo p {
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
}

.tabBottom img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.productDetailsTwo {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
    list-style: none;
    background: #ffffff;
}

.productDetailsTwo li {
    list-style: none;
    color: #333333;
    font-size: 11px;
    margin: 3px;
}

.productDetailsThree {
    padding: 15px;
    background: #ffffff;
    margin-bottom: 20px;
}

.tabBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    background: #ffffff;
}

.addShopCart {
    line-height: 60px;
    color: #ffffff;
    background: #0276B3;
}

.exchange {
    background: #E15967;
    line-height: 60px;
    color: #ffffff;
}

.exchange button {
    background: red;
    border: none;
    color: #ffffff;
}

.shopCarModal .ivu-modal {
    margin: 0 !important;
    height: auto !important;
    position: absolute !important;
    bottom: 0px !important;
    top: initial;
    width: 100% !important;
}

.shopCarModal .ivu-modal-body {
    padding: 0 !important;
}

.shopCarModal .ivu-modal-close {
    display: none;
}

.skusInfo {
    padding: 15px;
}

.skusInfo li {
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.skusInfo span {
    margin-bottom: 6px;
}

.skusInfo img {
    width: 70px;
    display: inline-block;
    height: 70px;
}

.colorSelect {
    margin-bottom: 10px;
}

.cur {
    display: inline-block;
    border: 1px solid red;
}

.activeLi {
    border: 1px solid red !important;
    background: #ffffff !important;
    color: red;
}

.colorSelect li {
    list-style: none;
    display: block;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    color: #343434;
    background: #eeeeee;
    margin-top: 10px;
}

.colorSelect p {
    color: #343434;
    font-weight: bold;
}

.colorSelect span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
    height: 12px;
}

.redeemCount {
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    color: #343434;
    font-weight: bold;
    padding: 15px 0;
}

.redeemCountPlay {
    font-size: 0;
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}

.redeemCountPlay div:last-child {
    float: right;
}

.redeemCountPlay p {
    display: inline-block;
    font-size: 14px;
}

.redeemCountPlay span {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    background: #ccc;
    line-height: 20px;
}

.redeemCountPlay input {
    width: 20px;
    font-size: 12px;
    outline: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    height: 20px;
    text-align: center;
    border: none;
    background: #ccc;
    display: inline-block;
}

.submitButton {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    text-align: center;
    border: none;
    background: #E15967;
    color: #ffffff;
}

.shareModal {
    position: fixed;
    z-index: 100;
    color: #4099D6;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    text-align: right;
    background: rgba(51, 51, 51, 0.6);
}

.shareModal span {
    display: inline-block;
    width: 100px;
    font-weight: 600;
    text-align: center;
}

.shareModal img {
    width: 40px;
    height: 60px;
}

.singleProduction ul li {
    display: none;
}

.singleProduction button {
    display: none;
}

.detaleTable td {
    border: 1px solid #e6e6e6;
    padding: 5px;
    padding: 4px 35px;
}