li {
    list-style: none;
}

.record {
    padding: 0px 10px;
}

.recordUl>li {
    width: 100%;
    height: auto;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
}

.recordUl img {
    width: 100%;
    max-width: 100%;
}

.recordUlLeft li:first-child {
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}

.recordUlLeft li:nth-of-type(3) {
    color: #2d96cd;
    margin-top: 7px;
}

.recordUlLeft span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    color: #fff;
    position: absolute;
    right: -71px;
    top: -17px;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
}

.emptyLsit {
    width: 87px;
    height: 87px;
    display: inline-block;
    left: 50%;
    top: 50%;
    margin-left: -43px;
    margin-top: -43px;
    position: absolute;
}