@font-face {
    font-family:'MHeiPRC';
    font-weight: 400;
    src: url('./MHeiPRC-Medium.woff') format('woff'),
         url('./MHeiPRC-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Antenna';
    font-weight: 400;
    src: url('./Antenna-Medium.woff')  format('woff'),
        url('./Antenna-Medium.ttf') format('truetype');
}
