<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shj.code.mapper.CTemplateInfoMapper">
    <select id="selectVlookup" resultType="com.shj.code.entity.TemplateInfo">
        select materialType,id,fileName,isEdit,sourceUrl,templateJson,uploadData,startTime,endTime,typeName,accountNumber,coverUrl from template_info
        <where>
            <if test="materialType != null">
                and materialType=#{materialType}
            </if>
            <if test="typeName != null">
                and typeName=#{typeName}
            </if>
            <if test="videoTime !=null and videoTime !='全部'.toString()">
    			and videoTime=#{videoTime}
			</if>
			<if test="videoTime == '全部'.toString()">
    			and typeName=#{typeName}
			</if>
            <if test="sTime !=null and sTime!='' and eTime !=null and eTime !=''">
              and uploadData between #{sTime} and #{eTime}
            </if>
            <if test="categoryName !=null and categoryName !='全部'.toString()">
                and categoryName=#{categoryName}
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='视频'">
                and typeName='视频'
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='KV'">
                and typeName='KV'
            </if>
            <if test="carModelName !=null and carModelName != '全部'.toString()">
               and carModelName=#{carModelName}
            </if>
            <if test="carModelName == '全部'.toString()">
                and typeName=#{typeName}
            </if>
        </where>
        order by createData desc
    </select>

    <select id="selectTemplateInfoByFileName" resultType="com.shj.code.entity.TemplateInfo">
        select materialType,id,fileName,isEdit,sourceUrl,templateJson,uploadData,startTime,endTime,typeName,accountNumber,coverUrl from template_info
<where>
<if test="fileName!=null and fileName!=''">
    fileName like concat('%',#{fileName},'%')
</if>
    <if test="materialType != null">
        and materialType=#{materialType}
    </if>
    <if test="typeName != null">
        and typeName=#{typeName}
    </if>
    <if test="videoTime !=null and videoTime !='全部'.toString()">
    	and videoTime=#{videoTime}
	</if>
	<if test="videoTime == '全部'.toString()">
    	and typeName=#{typeName}
	</if>
    <if test="sTime !=null and sTime!='' and eTime !=null and eTime !=''">
        and uploadData between #{sTime} and #{eTime}
    </if>
    <if test="categoryName !=null and categoryName !='全部'.toString()">
        and categoryName=#{categoryName}
    </if>
    <if test="categoryName == '全部'.toString() and typeName =='视频'">
        and typeName='视频'
    </if>
    <if test="categoryName == '全部'.toString() and typeName =='KV'">
        and typeName='KV'
    </if>
    <if test="carModelName !=null and carModelName != '全部'.toString()">
        and carModelName=#{carModelName}
    </if>
    <if test="carModelName == '全部'.toString()">
        and typeName=#{typeName}
    </if>
</where>
        order by createData desc
    </select>

    <select id="selectVlookupByTime" resultType="com.shj.code.entity.TemplateInfo">
        select materialType,id,fileName,isEdit,sourceUrl,templateJson,uploadData,startTime,endTime,typeName,accountNumber,coverUrl from template_info
        <where>
            <if test="fileName!=null and fileName!=''">
                fileName like concat('%',#{fileName},'%')
            </if>
            <if test="materialType != null">
                and materialType=#{materialType}
            </if>
            <if test="typeName != null">
                and typeName=#{typeName}
            </if>
            <if test="videoTime !=null and videoTime !='全部'.toString()">
    			and videoTime=#{videoTime}
			</if>
			<if test="videoTime == '全部'.toString()">
    			and typeName=#{typeName}
			</if>
            <if test="sTime !=null and sTime!='' and eTime !=null and eTime !=''">
                and uploadData between #{sTime} and #{eTime}
            </if>
            <if test="categoryName !=null and categoryName !='全部'.toString()">
                and categoryName=#{categoryName}
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='视频'">
                and typeName='视频'
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='KV'">
                and typeName='KV'
            </if>
            <if test="carModelName !=null and carModelName != '全部'.toString()">
                and carModelName=#{carModelName}
            </if>
            <if test="carModelName == '全部'.toString()">
                and typeName=#{typeName}
            </if>
        </where>
    order by createData desc
    </select>

    <select id="selectVlookupByTimeDesc" resultType="com.shj.code.entity.TemplateInfo">
        select materialType,id,fileName,isEdit,sourceUrl,templateJson,uploadData,startTime,endTime,typeName,accountNumber,coverUrl from template_info
        <where>
            <if test="fileName!=null and fileName!=''">
                fileName like concat('%',#{fileName},'%')
            </if>
            <if test="materialType != null">
                and materialType=#{materialType}
            </if>
            <if test="typeName != null">
                and typeName=#{typeName}
            </if>
            <if test="videoTime !=null and videoTime !='全部'.toString()">
    			and videoTime=#{videoTime}
			</if>
			<if test="videoTime == '全部'.toString()">
    			and typeName=#{typeName}
			</if>
            <if test="sTime !=null and sTime!='' and eTime !=null and eTime !=''">
                and uploadData between #{sTime} and #{eTime}
            </if>
            <if test="categoryName !=null and categoryName !='全部'.toString()">
                and categoryName=#{categoryName}
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='视频'">
                and typeName='视频'
            </if>
            <if test="categoryName == '全部'.toString() and typeName =='KV'">
                and typeName='KV'
            </if>
            <if test="carModelName !=null and carModelName != '全部'.toString()">
                and carModelName=#{carModelName}
            </if>
            <if test="carModelName == '全部'.toString()">
                and typeName=#{typeName}
            </if>
        </where>
        order by createData
    </select>
    
</mapper>