<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.shj.code.mapper.DistributorProvinceMapper">
	<select id="getList" resultType="com.shj.code.entity.DistributorProvince">  
	            select * from distributor_province where smallId = #{smallId,jdbcType=INTEGER}
	</select>
</mapper>
