<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.shj.code.mapper.DistributorInfoMapper">
	<select id="getList" resultType="com.shj.code.entity.DistributorInfo">  
	    select * from distributor_info where cityId = #{cityId,jdbcType=INTEGER}
	</select> 
	
	<insert id ="save" parameterType="com.shj.code.entity.DistributorInfo">
		insert into distributor_info(id,cityId,code,name)values(#{id,jdbcType=INTEGER},#{cityId,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR})
	</insert>
	<select id="findCode" parameterType="STRING" resultType="com.shj.code.entity.DistributorInfo">
		select * from distributor_info where code = #{code,jdbcType=VARCHAR}
	</select>
</mapper>
