<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.shj.code.mapper.UserWorksInfoMapper">
	<!--通过主键查询  -->
	<select id="findById" parameterType="STRING" resultType="com.shj.code.entity.UserWorksInfo">
		select * from user_works_info where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="findFileNames" parameterType="STRING" resultType="com.shj.code.entity.UserWorksInfo">
		select * from user_works_info where fileName = #{fileName,jdbcType=VARCHAR} and userId = #{userId,jdbcType=VARCHAR} and typeName=#{typeName,jdbcType=VARCHAR}
	</select>
	
	<!--新增  -->
	<insert id ="save" parameterType="com.shj.code.entity.UserWorksInfo">
		insert into user_works_info(fileName,width,typeName,userId,accountNumber,coverUrl,templateJson,sourceUrl,role,uploadData,height,id,videoTime,absolutelyUrl,pictureHeight,pictureWidth)values
							(#{fileName,jdbcType=VARCHAR},#{width,jdbcType=VARCHAR},#{typeName,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},
							#{accountNumber,jdbcType=VARCHAR},#{coverUrl,jdbcType=VARCHAR},#{templateJson,jdbcType=VARCHAR},#{sourceUrl,jdbcType=VARCHAR},
							#{role,jdbcType=INTEGER},#{uploadData,jdbcType=VARCHAR},#{height,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},#{videoTime,jdbcType=VARCHAR},#{absolutelyUrl,jdbcType=VARCHAR},#{pictureHeight,jdbcType=VARCHAR},#{pictureWidth,jdbcType=VARCHAR})
	</insert>
	
	<!--修改  -->
	<update id ="update" parameterType="com.shj.code.entity.UserWorksInfo">
	 	update user_works_info set fileName=#{fileName,jdbcType=VARCHAR},width=#{width,jdbcType=VARCHAR},userId=#{userId,jdbcType=VARCHAR},accountNumber=#{accountNumber,jdbcType=VARCHAR},
							coverUrl=#{coverUrl,jdbcType=VARCHAR},templateJson=#{templateJson,jdbcType=VARCHAR},sourceUrl=#{sourceUrl,jdbcType=VARCHAR},
							typeName=#{typeName,jdbcType=VARCHAR},uploadData=#{uploadData,jdbcType=VARCHAR},role=#{role,jdbcType=INTEGER},height=#{height,jdbcType=VARCHAR},videoTime=#{videoTime,jdbcType=VARCHAR},
							absolutelyUrl=#{absolutelyUrl,jdbcType=VARCHAR},pictureHeight=#{pictureHeight,jdbcType=VARCHAR},pictureWidth=#{pictureWidth,jdbcType=VARCHAR}
	 	where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="getPictureList" resultType="com.shj.code.entity.UserWorksInfo">
	    select * from user_works_info where typeName="图片" and userId=#{userId,jdbcType=VARCHAR} and fileName like '%${search}%' order by createData desc
	</select>
	
	<select id="getPictureLists" resultType="com.shj.code.entity.UserWorksInfo">
	    select * from user_works_info where typeName="图片" and userId=#{userId,jdbcType=VARCHAR} order by uploadData desc
	</select>
	
	<select id="getVideoList" resultType="com.shj.code.entity.UserWorksInfo">
	    select * from user_works_info where typeName="视频" and userId=#{userId,jdbcType=VARCHAR} and fileName like '%${search}%' order by createData desc
	</select>
	
	<select id="getVideoLists" resultType="com.shj.code.entity.UserWorksInfo">
	    select * from user_works_info where typeName="视频" and userId=#{userId,jdbcType=VARCHAR} order by createData desc
	</select>
	
	<select id="getAudioList" resultType="com.shj.code.entity.UserWorksInfo">
	    select * from user_works_info  where typeName="音频" and userId=#{userId,jdbcType=VARCHAR} order by createData desc
	</select>
	
	<delete id="delete" parameterType="STRING">
		delete from user_works_info where id = #{id,jdbcType=VARCHAR}
	</delete>
</mapper>
