<sly
	data-sly-use.model="io.github.joelpub.core.models.amp.AMPImageModel" data-sly-unwrap>
    <p>${model.description}</p>
     <amp-carousel class="carousel_wrap" width="360" height="400" layout="responsive" type="slides" autoplay delay="200000" controls loop>
        <sly data-sly-list.carousel="${model.featureGroups}" data-sly-unwrap>
            <div>
                <amp-img src="${carousel @ context = 'uri'}" width="360" height="400" alt="federal" layout="responsive"></amp-img>
            </div>
        </sly>
    </amp-carousel>
</sly>