<div id="ev-map" data-ng-controller="EvController as mainCtrl" class="row" >
    <div id="map-container" class="${wcmmode.edit ? '' : 'ev-scrollify'}" data-startImage-url="${properties.startImage}" data-destinyImage-url="${properties.destinyImage}" data-stationImage-url="${properties.stationImage}"  data-arrowImage-url="${properties.arrowImage}" data-startCord="${properties.startCord}" data-daoLabel="${properties.daoLabel}" data-stationName="${properties.stationName}" data-miLabel="${properties.miLabel}" data-stationLabel="${properties.stationLabel}" data-stationTimeLabel="${properties.stationTimeLabel}" data-kmLabel="${properties.kmLabel}"  data-stationImgSize="${properties.stationImgSize}" data-baiduId="${properties.baiduId}">
        <div id="allmap"></div>
    </div>

</div>
